name: Node.js Package

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org/'


      - name: Install dependencies
        run: npm install

      - name: Get changed packages
        run: npx changeset status --output changeset-status.json

      - name: Test changed packages
        run: |
          for pkg in $(jq -r '.releases[].name' changeset-status.json); do
            echo "Testing $pkg..."
            npm run test --workspace=$pkg || exit 1
          done

      - name: Build packages
        run: npm run build

      - name: Update versions
        run: npx changeset version

      - name: Publish packages
        run: npm run release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}